---
import SectionHeader from "./SectionHeader.astro";
import { getTranslations } from "../i18n/ui";
import { joinMiddot } from "../separators";

const t = getTranslations(Astro.currentLocale).experience;
---

<section id="experience">
  <SectionHeader num="02" label={t.label} title={t.title} />
  {
    t.items.map((item) => (
      <div class="exp-item">
        <div class="exp-meta">{joinMiddot(item.meta)}</div>
        <div class="exp-title">{item.title}</div>
        <p class="exp-desc">{item.desc}</p>
        <div class="exp-tags">
          {item.tags.map((tag) => (
            <span class="exp-tag">{tag}</span>
          ))}
        </div>
      </div>
    ))
  }
</section>
